* {
    margin: 0;
    padding: 0;
}

#topbar-background {
    background-color: black;
}

#topbar {
    width: 1000px;
    margin: 0 auto;
    background-color: black;
    height: 41px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#logo {
    margin-top: 8px;
    margin-right: 8px;
    float: left;
}

.topbar-section {
    float: left;
    border-left: 1px grey solid;
    height: 100%;
}

#signin-image {
    width: 25px;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 8px;
    float: left;
}

#signin-text {
    font-weight: bold;
    font-size: 75%;
    position: relative;
    top: 13px;
    padding-right: 50px;
    color: white;
    float: left;
}

.topbar-text {
    font-weight: bold;
    font-size: 75%;
    padding: 13px 16px 0 16px;
    height: 27px;
    color: white;
}

#more-arrow {
    margin-left: 30px;
    width: 8px;
}

#search-box {
    border: none;
    margin-top: 8px;
    margin-left: 8px;
    height: 25px;
    width: 162px;
    font-weight: bold;
    color: grey;
    font-size: 80%;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 6px;
    float: left;
}

#magnifying-glass {
    height: 25px;
    margin-top: 8px;
}

#menu-bar-background {
    background-color: lightgrey;
    width: 100%;
    height: 58px;
}

.clear {
    clear: both;
}

#menu-bar {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    color: white;
    font-weight: normal;
    padding-top: 7px;
    padding-bottom: 4px;
    font-size: 40px;
    float: left;
}

#menu-bar-2-container {
    background-color: grey;
    height: 35px;
}

#menu-bar-2 {
    width: 1000px;
    margin: 0 auto;
}

#menu-bar-2 a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 12px;
    position: relative;
    top: 11px;
    border-right: 1px solid white;
    float: left;
    font-size: 90%

}

#menu-bar-2 a:hover {
    text-decoration: underline;
}

.no-border {
    border: none !important;
}

#page-container {
    width: 1000px;
    margin: 0 auto;
}

h2 {
    color: #5A5A5A;
    margin-top: 50px;
    font-size: 33px;
}

h2:hover {
    color: #1167A8;
}

.highlighted {
    background-color: #FFDF43;
    color: black;
    font-size: 24px;
    padding: 5px;
}

#main-article-container {
    width: 1000px;
}

#main-article-image{
    margin-top: 35px;
    float: left;
    margin-bottom: 20px;
}

#main-article-summary {
    width: 500px;
    color: #5A5A5A;
    float: left;
    margin-top: -10px;
    margin-left: 15px;
}

.article-summary{
    position: relative;
    top: 10px;
    padding-bottom: 25px;
    font-size: 90%;
    color: #5A5A5A;
    line-height: 125%
}

.clock{
    float: left;
    vertical-align: bottom;
}

.time{
    border-right: 1px solid #CCCCCC;
    padding-left: 5px;
    padding-right: 7px;
    font-size: 85%;
    float: left;
    margin-right: 7px;
}

.topic-link{
    color: #A91717;
    font-size: 85%;

}

.topic-link:hover{
    color: #1167A8;
}

.article-hr{
    margin-top: 25px;
    border-top:1px solid #A91717;
    width:35px;
}

.main-article-table{
    font-size: 90%;
}

.main-td{
    padding-top: 4px;
    padding-right: 45px;
    padding-bottom: 4px;
}

.main-td:hover{
    color: #1167A8;
}

#page-left{
    float:left;
    margin-top: 20px;
    width: 655px;
}

#page-right{
    float: left;
    margin-top: 20px;
    border-left: 1px solid #DBDBDB;
    height: 60px;
}

.watch{
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    color: #404040;
}

.sub-title{
    font-size: 24px;
    color: #404040;
    padding-bottom: 15px;
}

.sub-title:hover{
    color: #1167A8;
}

#live{
    padding-left: 15px;
}

.sub-sub-title{
    vertical-align: 5px;
}

.sub-sub-title:hover{
    color: #1167A8;
}

#red-arrow{
    vertical-align: 3px;
}

#top-stories{
    width: 315px;
    margin-top: 15px;
    background-color: #EDEDED;
}

.top-stories-container-1{
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DBDBDB;
}

.top-stories-container{
    margin-right: 15px;
}

.top-stories-title{
    margin-top: 10px;
    font-size: 14px;
    color: #2F2F2F;
}

.top-stories-title:hover{
    color: #1167A8;
}

.top-stories-img{
    float: left;
    margin: 10px 10px 10px 15px;
}

.hr-top-stories{
    border-top: 1px solid #DBDBDB;
    margin-left: 15px;
    margin-right: 15px;
}

.top-stories-more{
    color:#2F2F2F;
    margin-left: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.top-stories-more:hover{
    color: #1167A8;
}

.sub-article-1{
    float:left;
    padding-right: 13px;
}

.sub-article-title{
    width:150px;
    margin-bottom: 10px;
}

.sub-article-title:hover{
    color: #1167A8;
}

.page-left-hr{
    border-top:1px solid #DBDBDB;
    margin-top: 5px;
    width: 645px;
    margin-bottom: 15px;
}

.sub-article-2{
    float:left;
    width: 217px;
}

.vertical-divider{
    margin-left: 15px;
    margin-right: 15px;
    border-left: 0.25px solid #DBDBDB;
    height: 375px;
    float: left;
}

.subject{
    background-color: yellow; 
    font-size: 90%;
}

.sub-article-title-2{
    margin-top: 10px;
    width: 200px;
    font-size: 111%;
}

.sub-article-title-2:hover{
    color: #1167A8;
}

.subject{
    color: black;
    font-size: 80%;
}

.sub-article-1-img{
    padding-bottom: 10px;
}

.sub-article-title-3{
    margin-bottom: 10px;
}

.sub-article-title-3:hover{
    color: #1167A8;
}

.small-hr{
    border-top:1px solid #DBDBDB;
    margin-top: 10px;
    width: 147px;
    margin-bottom: 10px;
}

.the-reporters{
    margin-right: 13px;
    float: left;
    padding-bottom: 40px;
}

.grey-box{
    background-color: #EDEDED;
    width: 194px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grey-title{
    font-size: 97%;
    padding-bottom: 20px;
}

.grey-title:hover{
    color: #1167A8;
}

#news-service {
    background-color: #2F2F2F;
}

#news-service-bar {
    width: 1000px;
    margin: 0 auto;
    background-color: #2F2F2F;
    height: 95px;
    padding-top: 25px;
}

#news-service-title{
    font-size: 24px;
    font-weight: 100;
    float: left;
    color: white;
    margin-bottom: 15px;
}

.news-service-link{
    float:left;
    width: 250px;
}

.news-service-link-title{
    color: white;
    font-size: 15px;
}

.news-service-link-title:hover{
    text-decoration: underline;
}

.news-service-icon{
    padding-right: 5px;
}

.ns{
    text-decoration: none;
}

#bottom-divider{
    color: pink;
}

#bottom-bar-background{
    background-color: #4C4C4C;
}

#bottom-bar {
    width: 1000px;
    height: 275px;
    margin: 0 auto;
}

#explore-title{
    margin-top: 25px;
    font-size: 24px;
    font-weight: 100;
    float: left;
    color: white;
    margin-bottom: 15px;
}

.bottombar-text {
    font-weight: bold;
    font-size: 80%;
    padding-bottom: 5px;
    height: 27px;
    color: white;
}

.bottombar-text:hover{
    text-decoration: underline;
}

.explore-divider{
    width: 155px;
    border-right: 1px #949494 solid;
    height: 108px;
    padding-bottom: 10px;
    float: left;
    margin-right: 10px;
}

.terms-text {
    font-size: 80%;
    padding-bottom: 5px;
    height: 27px;
    color: white;
    float: left;
    padding-right: 25px;
}


.terms-text:hover{
    text-decoration: underline;
}

.copyright {
    font-size: 80%;
    padding-bottom: 5px;
    height: 27px;
    color: white;
    float: left;
    padding-right: 25px;
}